body {
    background-image: url("hero_image.jpg");
    background-size: cover;
    text-align: center;
    font-family: Helvetica	
}

h1, p {
    color: #fff;
}

#slogan {
	font-style: italic;
}

h1 {
	font-size: 42px;
	font-weight: 800px;
}

p {
	font-size: 16px;
}

