body {
  	text-align: center;
	background: url(https://topdesigner16.github.io/unit_3/images/hero_image.jpg);
  	background-size: cover;
  	color: #fff;
  	font-family: Helvetica;
}

h1, p {
    font-family: 'Domine', serif;
    color: #fff;
}

#slogan {
	font-style: italic;
}

h1 {
	font-size: 65px;
	font-weight: 300px;
	margin-top: 10px;
}

p {
	font-size: 24px;
	padding-top: -10px;
}

ul {
	font-size: 20px;

}

nav {
	font-size: 24px;
	font-weight: 800px;
	padding-top: 20px;
	padding-bottom: 20px;
}

hr {
  	width: 100px;
  	border-color: hotpink;
}

a {
    color: #41ead4;
    text-decoration: none;
    font-weight: 300px;
    padding: 20px;
    margin-left: 10px;
    font-family: 'Domine', serif;

}