body {
  	text-align: center;
	background: url(https://topdesigner16.github.io/unit_3/images/hero_image.jpg);
  	background-size: cover;
  	color: #fff;
  	font-family: Helvetica;
}

h1, p {
    color: #fff;
}

#slogan {
	font-style: italic;
}

h1 {
	font-size: 60px;
	font-weight: 800px;
}

p {
	font-size: 20px;
}

ul {
	font-size: 20px;

}

nav {
	font-size: 24px;
	font-weight: 800px;
	padding-top: 50px;
	padding-bottom: 20px;
}

hr {
  	width: 100px;
}
